<form [formGroup]="form">
<!--  <mat-form-field class="mg">-->
<!--    <mat-label>Brand</mat-label>-->
<!--    <input matInput>-->
<!--  </mat-form-field>-->

<!--  <mat-form-field class="mg">-->
<!--    <mat-label>Price</mat-label>-->
<!--    <input matInput >-->
<!--  </mat-form-field>-->

<!--  <mat-form-field class="mg">-->
<!--    <mat-label>Year</mat-label>-->
<!--    <input matInput>-->
<!--  </mat-form-field>-->

<!--  <button mat-raised-button color="primary"  (click)="carForUpdate ? update() : create()">{{carForUpdate ? 'Update' : 'Create'}}</button>-->
  <input type="text" placeholder="brand" formControlName="brand">
  <input type="text" placeholder="price" formControlName="price">
  <input type="text" placeholder="year" formControlName="year">
  <button [disabled]="form.invalid" (click)="carForUpdate?update():create()">{{ carForUpdate ? 'update' : 'create' }}
  </button>

  <div *ngIf="form.controls['brand'].errors && (form.controls['brand'].dirty || form.controls['brand'].touched)">
    {{ form.controls['brand'].errors|json }}
  </div>
  <div *ngIf="form.controls['price'].errors && (form.controls['price'].dirty || form.controls['price'].touched)">
    {{ form.controls['price'].errors|json }}
  </div>
  <div *ngIf="form.controls['year'].errors && (form.controls['year'].dirty || form.controls['year'].touched)">
    {{ form.controls['year'].errors|json }}
  </div>
</form>
