<form [formGroup]="formR">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <div class="error">
      <mat-error *ngIf="registerClicked && formR.get('re_password').hasError('passwordMismatch')"> Passwords do not match</mat-error>
      <mat-error *ngIf="error">Username already exists.Try over again.</mat-error>
    </div>
    <mat-card-content>

      <div>
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput  formControlName="username">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="outline">
          <mat-label>Repeat password</mat-label>
          <input matInput formControlName="re_password">
        </mat-form-field>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="register()">Register</button>
    </mat-card-actions>
  </mat-card>
</form>
